{% extends "reservation_app/base.html" %}
{% load crispy_forms_tags %}

 {% block content %}

<form action="" method="post" autocomplete="off">

    {% csrf_token %}

    {{ form|crispy }}
    <div style="display: flex;">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-8">
            <a href="{% url 'admin_view' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>


</form>

 {% endblock content %}